<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/bootstrap.min.css}">

<title>Home</title>
</head>
<body class="p-3 mb-2 bg-light text-black" onload="clearMessageArea();">
	<div class="container">
		<div id="logoutDiv">
			<form action="#" method="POST" th:action="@{/logout}">
				<button id="logoutButton" type="submit"
					class="btn btn-secondary float-right">Logout</button>
			</form>
		</div>
		<div id="error-msg" th:if="${messageField}" class="alert alert-danger" style="width:50%">
			<span th:text="${messageField}">Example Storage Message</span>
		</div>
		<div id="contentDiv" style="clear: right;">
			<nav style="clear: right;">
				<div class="nav nav-tabs" id="nav-tab" role="tablist">
					<a class="nav-item nav-link active" id="nav-files-tab"
						data-toggle="tab" href="#nav-files" role="tab"
						aria-controls="nav-files" aria-selected="true">Files</a> <a
						class="nav-item nav-link" id="nav-notes-tab" data-toggle="tab"
						href="#nav-notes" role="tab" aria-controls="nav-notes"
						aria-selected="false">Notes</a> <a class="nav-item nav-link"
						id="nav-credentials-tab" data-toggle="tab" href="#nav-credentials"
						role="tab" aria-controls="nav-credentials" aria-selected="false">Credentials</a>
				</div>
			</nav>
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade show active" id="nav-files"
					role="tabpanel" aria-labelledby="nav-files-tab">
					<form action="#" enctype="multipart/form-data" method="POST" th:action="@{/home/file/upload}" th:object="${fileForm}">
						<div class="container">
							<div class="row" style="margin: 1em;">
								<div class="col-sm-2">
									<label for="fileUpload">Upload a New File:</label>
								</div>
								<div class="col-sm-6">
									<input th:field="*{file}" type="file" class="form-control-file" id="fileUpload"
										name="fileUpload">
								</div>
								<div class="col-sm-4">
									<button type="submit" class="btn btn-dark">Upload</button>
								</div>
							</div>
						</div>
					</form>
					<div class="table-responsive">
						<table class="table table-striped" id="fileTable">
							<thead>
								<tr>
									<th style="width: 20%" scope="col"></th>
									<th style="width: 80%" scope="col">File Name</th>
								</tr>
							</thead>
							<tbody>
								<!--  THIS IS WHERE WE DISPLAY THE USER'S FILES -->
								<tr th:if="${fileList==null or fileList.size() == 0}">
									<td colspan="2" align="center">0 files stored under user
										account</td>
								</tr>
								<tr th:each="fileEntry : ${fileList}"
									th:if="${fileList!=null and fileList.size() > 0}">
									<td>
									<a target="_blank" class="btn btn-success" th:href="@{/home/file/view/{fileId}(fileId=${fileEntry.fileId})}">View</a> 
									<a class="btn btn-danger" th:href="@{/home/file/delete/{fileId}(fileId=${fileEntry.fileId})}">Delete</a></td>

									<th scope="row" th:text="${fileEntry.filename}">ExampleFile.txt</th>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="tab-pane fade" id="nav-notes" role="tabpanel"
					aria-labelledby="nav-notes-tab">
					<button style="margin: 0.25em;" type="button"
						class="btn btn-info float-right" onclick="showNoteModal()">
						+ Add a New Note</button>

					<div class="table-responsive">
						<table class="table table-striped" id="userTable">
							<thead>
								<tr>
									<th style="width: 20%" scope="col"></th>
									<th style="width: 20%" scope="col">Title</th>
									<th style="width: 60%" scope="col">Description</th>
								</tr>
							</thead>
							<tbody>
								<!--  THIS IS WHERE WE PLACE THE NOTES DATA -->

								<tr th:if="${noteList==null or noteList.size() == 0}">
									<td colspan="3" align="center">0 notes stored under user
										account</td>
								</tr>
								<tr th:each="noteEntry : ${noteList}"
									th:if="${noteList!=null and noteList.size() > 0}">
									<td>
	          							<button th:onclick="showNoteModal([[${noteEntry.getNoteid()}]], [[${noteEntry.getNotetitle()}]],[[${noteEntry.getNotedescription()}]])" 
            							type="button" class="btn btn-success">Edit</button>
          								
          								<a class="btn btn-danger" th:href="@{/home/note/delete/{noteid}(noteid=${noteEntry.noteid})}">Delete</a>
										
									</td>
									<th scope="row" th:text="${noteEntry.notetitle}">Example
										Note Title</th>
									<td th:text="${noteEntry.notedescription}">Example Note
										Description</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!--  THIS IS THE NOTE ENTRY DIALOG WHEN USER PRESSES "Add a new Note"  -->
					<div class="modal fade" id="noteModal" tabindex="-1" role="dialog"
						aria-labelledby="noteModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="noteModalLabel">Note</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<form action="#" method="POST" th:action="@{/home/note/addOrUpdate}"
										th:object="${noteForm}">
										<input type="hidden" name="noteId" id="note-id">
										<div class="form-group">
											<label for="note-title" class="col-form-label">Title</label>
											<input type="text" name="noteTitle" class="form-control"
												id="note-title" maxlength="20" required>
										</div>
										<div class="form-group">
											<label for="note-description" class="col-form-label">Description</label>
											<textarea class="form-control" name="noteDescription"
												id="note-description" rows="5" maxlength="1000" required></textarea>
										</div>
										<button id="noteSubmit" type="submit" class="d-none"></button>
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-primary"
										onclick="$('#noteSubmit').click();">Save changes</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="nav-credentials" role="tabpanel"
					aria-labelledby="nav-credentials-tab">
					<button style="margin: 0.25em;" type="button"
						class="btn btn-info float-right" onclick="showCredentialModal()">
						+ Add a New Credential</button>

					<div class="table-responsive">
						<table class="table table-striped" th:object="${credentials}"
							id="credentialTable">
							<thead>
								<tr>
									<th style="width: 20%" scope="col"></th>
									<th style="width: 35%" scope="col">URL</th>
									<th style="width: 20%" scope="col">Username</th>
									<th style="width: 25%" scope="col">Password</th>
								</tr>
							</thead>
							<tbody>
								<tr
									th:if="${credentialList==null or credentialList.size() == 0}">
									<td colspan="4" align="center">0 password credentials
										stored under user account</td>
								</tr>

								<tr th:each="credentialEntry : ${credentialList}"
									th:if="${credentialList!=null and credentialList.size() > 0}">
									<td>
										<button th:onclick="showCredentialModal([[${credentialEntry.getCredentialid()}]], [[${credentialEntry.getUrl()}]],[[${credentialEntry.getUsername()}]],[[${credentialEntry.getClearPassword()}]])" 
										type="button" class="btn btn-success">Edit</button>
										<a class="btn btn-danger" th:href="@{/home/credential/delete/{credentialid}(credentialid=${credentialEntry.credentialid})}">Delete</a>
									</td>
									<th scope="row" th:text="${credentialEntry.url}">Example
										Credential URL</th>
									<td th:text="${credentialEntry.username}">Example
										Credential Username</td>
									<td th:text="${credentialEntry.password}">Example
										Credential Password</td>
								</tr>
							</tbody>
						</table>
					</div>

					<!--  THIS IS THE MODAL DIALOG TO FILL IN WHEN USER CLICKS ON "Add a New Credential" -->
					<div class="modal fade" id="credentialModal" tabindex="-1"
						role="dialog" aria-labelledby="credentialModalLabel"
						aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="credentialModalLabel">Credential</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<!--  This is the form for adding a new credential element -->
								<div class="modal-body">
									<form action="#" method="POST" th:action="@{/home/credential/addOrUpdate}"
										th:object="${credentialForm}">
										<input type="hidden" name="credentialId" id="credential-id">
										<div class="form-group">
											<label for="note-title" class="col-form-label">URL</label> <input
												type="text" name="url" class="form-control"
												id="credential-url" maxlength="100" required>
										</div>
										<div class="form-group">
											<label for="note-title" class="col-form-label">Username</label>
											<input type="text" name="username" class="form-control"
												id="credential-username" maxlength="30" required>
										</div>
										<div class="form-group">
											<label for="note-title" class="col-form-label">Password</label>
											<input type="text" name="password" class="form-control"
												id="credential-password" maxlength="30" required>
										</div>
										<button id="credentialSubmit" type="submit" class="d-none"></button>
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-primary"
										onclick="$('#credentialSubmit').click();">Save
										changes</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/js/jquery-slim.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>

	<!--For opening the note modal-->
	<script type="text/javascript">
		// For opening the note modal
		function showNoteModal(noteId, noteTitle, noteDescription) {
			$('#note-id').val(noteId ? noteId : '');
			$('#note-title').val(noteTitle ? noteTitle : '');
			$('#note-description').val(noteDescription ? noteDescription : '');
			$('#noteModal').modal('show');
		}

		// For opening the credentials modal
		function showCredentialModal(credentialId, url, username, password) {
			$('#credential-id').val(credentialId ? credentialId : '');
			$('#credential-url').val(url ? url : '');
			$('#credential-username').val(username ? username : '');
			$('#credential-password').val(password ? password : '');
			$('#credentialModal').modal('show');
		}
		
		// Clear any success or failure message in 5 seconds
		function clearMessageArea() {
			// set up the clear to occur in 5 seconds
			const messageElement = document.getElementById("error-msg");
			setTimeout(function() {
				messageElement.style.display = "none";
			}, 5000);
			
		}
	</script>
</body>
</html>